<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NYPD Cycle Crash</title>

    <!--<link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}">-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet-panel-layers.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>-->
    <!--<script src="https://kit.fontawesome.com/a076d05399.js"></script>-->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="{{url_for('static', filename='leaflet/leaflet-panel-layers.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="{{url_for('static', filename='leaflet/nyborough.js')}}"></script>


</head>
<body>
<h1 style="text-align:center">NYPD Cycle Crash Map</h1>
<div id="imap"></div>
<!--<div>-->
<!--<select id="distsel">-->
<!--{% for district in districts %}-->
<!--<option value="{{district.id}}">{{district.name}}</option>-->
<!--{% endfor %}-->
<!--</select>-->
<!--</div>-->
<script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>