body {
  padding: 50px 0px;
}
#imap {
    height: 70vh;
}
i.fa-exclamation {
  top: -5px;
}
.fa-stack{
  width: 36px
}
i.fa-biking.fa-stack-1x{
  color:#39A2E1;
  font-size: .8em;
  top: -0.25em;
}
i.fa-car-crash.fa-stack-1x{
  font-size: .8em;
  top: -0.25em;
}
i.fa-stack-2x{
  text-shadow: 3px 2px 5px black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f4f4f4;
}
.info {
    padding: 6px 8px;
  /* font: 14px/16px Arial, Helvetica, sans-serif; */
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 9.1rem;
}
/* .leaflet-control-layers-list{
  font: 12px/15px Arial, Helvetica, sans-serif;
} */
.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
  background: rgba(255,255,255,0.8);
}

.info h4 {
    margin: 0 0 5px;
    color: #333;
}
.legend{
  line-height: 18px;
  color: #555
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
p{
  margin-bottom: 0px;
}